<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    {{!-- > character is needed to use a partial --}}
    {{!-- followed by the name of the partial file and the object we'll pass (not the object as is, but the properties of it) --}}
   {{> post-info post }}
  </li>
  {{/each}}